<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('node_modules/vue/dist/vue.min.js') }}"></script>
            <script type="text/javascript">
                Vue.config.delimiters = ['@{', '}'];
            </script>
        {% endblock %}
    </body>
</html>